.manage-client .card-header {
  background: linear-gradient(45deg, #6f42c1, #512da8);
  color: white;
}

.manage-client .form-control {
  max-width: 250px;
}

.manage-client .table {
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.manage-client .pagination .page-link {
  border-radius: 0.375rem;
  padding: 0.25rem 0.75rem;
}

.manage-client .pagination .page-item.active .page-link {
  background-color: #6f42c1;
  border-color: #6f42c1;
}

.manage-client .btn-outline-primary {
  font-size: 0.8rem;
}

.modal-body {
  max-height: 70vh;
  overflow-y: auto;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="datetime-local"],
input[type="file"] {
  font-size: 0.9rem;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #5e2f82 !important;
    color: white !important;
    border-color: var(--bs-nav-tabs-link-active-border-color);
}

.modal-content {
  position: relative;
  z-index: 1055 !important; /* Bootstrap modal z-index default */
}

.bg-purple {
  background-color: #5e2f82 !important;
}
.disablescss {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}
label
{
  font-weight: bold;
}
span
{
  font-size: 15px;
}
.bg-gradient-indigo {
    background: linear-gradient(135deg, #5f2c82, #49a09d);
    color: white !important;
    border-radius: 5px 5px 0 0 !important;
}

.bg-purple {
  background-color: #5e2f82 !important;
}

#tblClientData thead th
{
    background: #5e2f82 !important;
    color: white !important;
    font-weight: 500;
    font-size: 13px;
}

.table-bordered {
  border: 1px solid #ccc;

  th, td {
    border: 1px solid #ccc;
  }
}


.invoice-wrapper {
  font-family: 'Segoe UI', sans-serif;

  .invoice {
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
  }

  table {
    width: 100%;

    th {
      color: #5e2f82 !important;
      text-align: left;
      width: 50%;
      background-color: #f9f9f9 !important;
      font-size: 13px !important;
    }

    td {
      text-align: right;
    }
  }
}

.success-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .success-icon {
    font-size: 3.5rem;
    animation: blinkIcon 1s infinite;
  }
}

@keyframes blinkIcon {
  0%, 100% { opacity: 1; transform: scale(1); }
  50%      { opacity: 0.5; transform: scale(1.1); }
}


@keyframes popScale {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 576px) {
  .invoice {
    padding: 1rem !important;
    font-size: 0.9rem;
  }
}
