<div class="container-fluid">
    <app-loader *ngIf="isLoading"></app-loader>
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-header bg-gradient-indigo text-white">
                    <strong><i class="bi bi-funnel"></i>Filter</strong>
                </div>
                <div class="card-body">
                    <div class="row align-items-end g-2">
                        <div class="col-md-2">
                            <input type="text" [(ngModel)]="searchKeyword" class="form-control mb-3"
                                (input)="applyFilter()" placeholder="Type a keyword..." />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card shadow-sm">
                                <div
                                    class="card-header bg-gradient-indigo text-white d-flex justify-content-between align-items-center">
                                    <div>
                                        <strong><i class="bi bi-funnel"></i>&nbsp;&nbsp;Manage Margin (Total Records: {{
                                            totalRecords
                                            }})</strong>
                                    </div>

                                </div>
                                <div class="card-body">
                                    <div class="row align-items-end g-2">
                                        <div class="col-md-12 table-responsive">
                                            <table id="tblClientData"
                                                class="table table-bordered mb-4 text-center table-hover">
                                                <thead class="bg-purple text-white">
                                                    <tr>
                                                        <th>Sr No</th>
                                                        <th>Service Name</th>
                                                        <th>Operator Name</th>
                                                        <th>IP Share</th>
                                                        <th>WL Share</th>
                                                        <th>Commission Type</th>
                                                        <th>Update</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngIf="slabs.length === 0">
                                                        <td colspan="7" class="text-center text-muted">No Record Found
                                                        </td>
                                                    </tr>
                                                    <tr *ngFor="let transaction of paginatedslabs; let i = index">
                                                        <td>{{ ((currentPage - 1) * pageSize) + (i + 1) }}</td>
                                                        <td>{{ transaction.serviceName }}</td>
                                                        <td>{{ transaction.slabName }}</td>
                                                        <td>
                                                            <input type="text" class="form-control"
                                                                [id]="'txtIPShare' + transaction.id"
                                                                [value]="transaction.ipShare">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control"
                                                                [id]="'txtWLShare' + transaction.id"
                                                                [value]="transaction.wlShare">
                                                        </td>

                                                        <td>
                                                            <select class="form-control"
                                                                [id]="'ddlCommisionType' + transaction.id"
                                                                [value]="transaction.commissionType.trim()">
                                                                <option value="PER">PER</option>
                                                                <option value="RS">RS</option>
                                                            </select>
                                                        </td>

                                                        <td>
                                                            <button class="btn btn-primary"
                                                                (click)="updateCommission(transaction.id)">
                                                                <i class="bi bi-pencil-square"
                                                                    style="color: white;"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>


                                            <nav *ngIf="totalPages > 1" class="mt-3">
                                                <ul class="pagination justify-content-end">
                                                    <li class="page-item" [class.disabled]="currentPage === 1">
                                                        <a class="page-link"
                                                            (click)="changePage(currentPage - 1)">Previous</a>
                                                    </li>

                                                    <ng-container *ngFor="let page of visiblePages">
                                                        <li class="page-item" *ngIf="page !== null"
                                                            [class.active]="currentPage === page">
                                                            <a class="page-link" (click)="changePage(page)">{{ page
                                                                }}</a>
                                                        </li>
                                                        <li class="page-item disabled" *ngIf="page === null">
                                                            <span class="page-link">...</span>
                                                        </li>
                                                    </ng-container>

                                                    <li class="page-item" [class.disabled]="currentPage === totalPages">
                                                        <a class="page-link"
                                                            (click)="changePage(currentPage + 1)">Next</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>


            </div>


        </div>



    </div>


</div>