<div class="container-fluid">

  <app-loader *ngIf="isLoading"></app-loader>

  <!-- Tab Buttons -->

  <div class="service-btns mb-3">
    <button *ngFor="let s of aepschannels" class="btn service-btn btn-sm me-2"
      [class.active]="selectedAEPSChannelKey === s.key" (click)="onTabSelectAEPSChannel(s)">
      <i class="bi" [ngClass]="s.icon"></i> {{ s.label }}
    </button>
  </div>



  <div class="service-btns mb-3">
    <button *ngFor="let s of services" class="btn service-btn btn-sm me-2" [class.active]="selectedTab() === s.label"
      (click)="onTabSelect(s.label)">
      <i class="bi" [ngClass]="s.icon"></i> {{ s.label }}
    </button>

    <button class="btn btn-outline-info btn-sm" *ngIf="!showRecentTxns" (click)="toggleRecentTxns()"
      style="float:right;background: #054a58 !important;">
      <i class="bi bi-clock-history"></i> Show Recent Transactions
    </button>

    <button class="btn btn-outline-info btn-sm" *ngIf="showRecentTxns" (click)="toggleRecentTxns()"
      style="float:right;background: #054a58 !important;">
      <i class="bi bi-clock-history"></i> Hide Recent Transactions
    </button>

  </div>





  <!-- Mobile Tab -->
  <div>



    <div class="row">
      <div [class.col-md-12]="!showRecentTxns" [class.col-md-6]="showRecentTxns">
        <div class="card shadow-sm">
          <div class="card-header bg-gradient-indigo text-white">
            <strong><i class="bi" [ngClass]="selectedicon"></i> {{selectedService}}</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div [ngClass]="colClass" class="form-group">
                <label class="form-label d-flex align-items-center">
                  <i class="bi bi-bank form-icon icon-label"></i> Select Bank
                </label>


                <ng-select [items]="banks" bindLabel="bankName" bindValue="nbin" placeholder="Select Bank"
                  [(ngModel)]="bankname" [searchable]="true">
                </ng-select>


              </div>

              <div [ngClass]="colClass" class="form-group">
                <label class="form-label d-flex align-items-center">
                  <i class="bi bi-phone form-icon icon-label"></i> Mobile Number
                </label>
                <input type="text" class="form-control" [(ngModel)]="mobileNumber"
                  (keypress)="($event.charCode >= 48 && $event.charCode <= 57) ? true : $event.preventDefault()"
                  maxlength="10" placeholder="Enter Mobile Number" />
              </div>

              <div [ngClass]="colClass" class="form-group">
                <label class="form-label d-flex align-items-center">
                  <i class="bi bi-person-vcard form-icon icon-label"></i> Aadhar Number
                </label>
                <input type="text" class="form-control"
                  (keypress)="($event.charCode >= 48 && $event.charCode <= 57) ? true : $event.preventDefault()"
                  maxlength="12" [(ngModel)]="mobileAadhar" placeholder="Enter Aadhar" />
              </div>

              <!-- Conditionally show Amount -->
              <div *ngIf="['Cash Withdrawal', 'Cash Deposit', 'Aadhar Pay'].includes(selectedTab())"
                [ngClass]="colClass" class="form-group">
                <label class="form-label d-flex align-items-center">
                  <i class="bi bi-currency-rupee form-icon icon-label"></i> Amount
                </label>
                <input type="text" maxlength="5"
                  (keypress)="($event.charCode >= 48 && $event.charCode <= 57) ? true : $event.preventDefault()"
                  class="form-control" [(ngModel)]="amount" placeholder="Enter Amount" />
              </div>
            </div>

            <div class="mt-3 text-left">
              <button class="btn btn-chandan btn-sm" (click)="openPreviewModal(previewModal)">
                <i class="bi bi-check-circle"></i> Proceed
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Recent Transactions Panel -->
      <div *ngIf="showRecentTxns" class="col-md-6">
        <div class="card shadow-sm plans-wrapper">
          <div class="card-header bg-gradient-indigo text-white">
            <strong><i class="bi bi-clock-history"></i> Recent Transactions</strong>
          </div>
          <div class="card-body">
            <div *ngIf="selectedService === 'Mini Statement' && miniStatementList.length > 0">
              <table class="table table-bordered text-center small">
                <thead class="bg-purple text-white">
                  <tr>
                    <th>Date</th>
                    <th>Txn Type</th>
                    <th>Amount</th>
                    <th>Balance</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let txn of miniStatementList">
                    <td>{{ txn.date }}</td>
                    <td>{{ txn.txnType }}</td>
                    <td>{{ txn.amount }}</td>
                    <td>{{ txn.balance }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>



  <ng-template #previewModal let-modal>
    <div class="modal-header bg-purple text-white">
      <h5 class="modal-title">AEPS Preview - Instant Pay</h5>
    </div>

    <div class="modal-body">
      <!-- Stage 1: Basic Details & Fingerprint -->
      <div>
        <table class="table table-bordered text-center small">
          <thead class="bg-purple text-white">
            <tr>
              <th>Bank</th>
              <th>Mobile</th>
              <th>Aadhar</th>
              <th *ngIf="['Cash Withdrawal', 'Cash Deposit', 'Aadhar Pay'].includes(selectedTab())">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ getBankName(bankname) }}</td>
              <td>{{ mobileNumber }}</td>
              <td>{{ mobileAadhar }}</td>
              <td *ngIf="['Cash Withdrawal', 'Cash Deposit', 'Aadhar Pay'].includes(selectedTab())">₹{{ amount }}</td>
            </tr>
          </tbody>
        </table>

        <div class="finger-section mt-3 text-center" *ngIf="!fingerprintSuccess">
          <p class="mb-2"><strong>Select Fingerprint Device:</strong></p>
          <div class="d-flex justify-content-center flex-wrap gap-2 device-list">
            <div *ngFor="let device of devices" class="device-card" [class.active]="selectedDevice === device.id"
              (click)="selectDevice(device.id)">
              <img [src]="'../../../assets/images/' + device.icon" alt="{{ device.label }}"
                style="height: 50px;width:50px" />
              <span>{{ device.label }}</span>
            </div>
          </div>

          <div class="mt-3">
            <button type="button" class="btn btn-primary w-100 mb-3" (click)="startCapture()"
              [disabled]="!selectedDevice">
              <i class="bi bi-fingerprint me-1"></i> Scan Fingerprint
            </button>
          </div>
        </div>
      </div>

      <!-- Stage 2: PIN and OTP -->
      <div style="display: none;" *ngIf="!fingerprintSuccess">
        <div class="form-group mb-2">
          <label><i class="bi bi-key"></i> Txn PIN</label>
          <input type="password" [(ngModel)]="txnPin" class="form-control" maxlength="6"
            placeholder="Enter 4 or 6-digit PIN" [class.is-invalid]="showPinError" autocomplete="off" />
          <div *ngIf="showPinError" class="invalid-feedback d-block">
            Txn PIN is required
          </div>
        </div>

        <div class="form-group mb-2">
          <label><i class="bi bi-shield-lock"></i> OTP (if required)</label>
          <input type="text" [(ngModel)]="otp" class="form-control" maxlength="6" placeholder="Enter OTP" autocomplete="one-time-code" />
        </div>


      </div>
    </div>

    <div class="modal-footer d-flex justify-content-between flex-wrap">
      <button class="btn btn-outline-secondary btn-sm flex-grow-1 me-2 mb-2"
        (click)="CancelTransection()">Cancel</button>
      <button class="btn btn-chandan btn-sm flex-grow-1 mb-2" (click)="submitAeps()" [disabled]="!fingerprintSuccess && !isFinoHighValueOtp()">
        <i class="bi bi-check-circle"></i> Confirm & Proceed
      </button>
    </div>
  </ng-template>

  <div id="printArea" style="display:none;"></div>

  <!-- RECHARGE INVOICE MODAL -->
  <ng-template #invoiceModal let-modal>
    <div class="modal-header bg-purple text-white">
      <h5 class="modal-title">AEPS Transaction Invoice</h5>
    </div>

    <div class="modal-body invoice-wrapper" id="invoiceContent">

      <!-- HEADER -->
      <div class="bg-purple text-white text-center p-3 rounded-top mb-3">
        <h5 class="m-0">
          {{ invoiceData?.txntype === 'be' ? 'Balance Enquiry Invoice' : invoiceData?.txntype === 'ms' ? 'Mini Statement
          Invoice' : invoiceData?.txntype === 'ap' ? 'Aadhar Pay Invoice' : invoiceData?.txntype === 'cd' ? 'Cash Deposit Invoice' : 'Cash Withdrawal Invoice' }}
        </h5>
      </div>

      <!-- Success Icon -->
      <div class="text-center my-3">
        <div class="success-icon-wrapper mx-auto">
          <i class="bi bi-check-circle-fill text-success success-icon"></i>
          <div class="text-success mt-2 fs-5 fw-bold">
            {{ invoiceData?.txntype === 'be' ? 'Balance Enquiry Invoice' : invoiceData?.txntype === 'ms' ? 'Mini
            Statement Invoice' : invoiceData?.txntype === 'ap' ? 'Aadhar Pay Invoice' : invoiceData?.txntype === 'cd' ? 'Cash Deposit Invoice' : 'Cash Withdrawal Invoice' }}
          </div>
        </div>
      </div>

      <!-- Invoice Body -->
      <div class="invoice p-4" *ngIf="invoiceData?.txntype != 'ms'">

        <table class="table table-bordered table-sm mb-2">
          <tbody>
            <tr>
              <th class="text-purple">Transaction Type</th>
              <td class="text-end text-capitalize"> {{ invoiceData?.txntype === 'be' ? 'Balance Enquiry' : invoiceData?.txntype === 'ap' ? 'Aadhar Pay' : invoiceData?.txntype === 'cd' ? 'Cash Deposit' : 'Cash Withdrawal' }}</td>
            </tr>

            <tr>
              <th class="text-purple">Aadhaar</th>
              <td class="text-end">{{ invoiceData?.aadharno }}</td>
            </tr>

            <tr>
              <th class="text-purple">Bank Name</th>
              <td class="text-end">{{ invoiceData?.BankName }}</td>
            </tr>

            <tr *ngIf="invoiceData?.amount">
              <th class="text-purple">{{ invoiceData?.txntype === 'ap' ? 'Txn Amount' : invoiceData?.txntype === 'cd' ? 'Deposit Amount' : ' Withdrawal Amount' }}</th>
              <td class="text-end">₹{{ invoiceData?.amount }}</td>
            </tr>

            <tr>
              <th class="text-purple">Available Balance</th>
              <td class="text-end">₹{{ invoiceData?.balance }}</td>
            </tr>

            <tr>
              <th class="text-purple">RRN</th>
              <td class="text-end">{{ invoiceData?.rrn }}</td>
            </tr>

            <tr>
              <th class="text-purple">Transaction Time</th>
              <td class="text-end">{{ invoiceData?.datetime }}</td>
            </tr>



          </tbody>
        </table>

      </div>

      <!-- Mini Statement Section -->
      <div *ngIf="invoiceData?.txntype === 'ms' && selectedAEPSProvider != 'FINO' " class="invoice p-4">

        <!-- Total Amount -->
        <div class="text-center fw-bold fs-5 mb-3">
          Current Balance: ₹{{ invoiceData?.balance }}
        </div>

        <table class="table table-bordered table-sm mb-2">
          <thead class="bg-light-purple text-purple">
            <tr>
              <th style="text-align: center !important">Type</th>
              <th style="text-align: center !important">Time</th>
              <th class="text-end"
                style="white-space: nowrap !important; width: 70px !important; text-align: center !important;">Amount
                (₹)</th>
              <th style="text-align: center !important">Details</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let row of invoiceData?.miniStatement; let i = index">
              <td style="text-align: center !important">{{ row.transactionType }}</td>
              <td style="text-align: center !important">{{ row.transactionTime }}</td>
              <td class="text-end" style="text-align: center !important">₹ {{ row.amount }}</td>
              <td style="text-align: center !important">{{ row.transactionDetails }}</td>
            </tr>
          </tbody>
        </table>

      </div>

      <div *ngIf="invoiceData?.txntype === 'ms' && selectedAEPSProvider === 'FINO' " class="invoice p-4">

        <!-- Total Amount -->
        <div class="text-center fw-bold fs-5 mb-3">
          Current Balance: ₹{{ invoiceData?.balance }}
        </div>

        <table class="table table-bordered table-sm mb-2">
          <thead class="bg-light-purple text-purple">
            <tr>
              <th style="text-align: center !important">Type</th>
              <th style="text-align: center !important">Time</th>
              <th class="text-end"
                style="white-space: nowrap !important; width: 70px !important; text-align: center !important;">Amount
                (₹)</th>
              <th style="text-align: center !important">Details</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let row of invoiceData?.miniStatement; let i = index">
              <td style="text-align: center !important">{{ row.transactionType }}</td>
              <td style="text-align: center !important">{{ row.transactionTime }}</td>
              <td class="text-end" style="text-align: center !important">₹ {{ row.amount }}</td>
              <td style="text-align: center !important">{{ row.transactionDetails }}</td>
            </tr>
          </tbody>
        </table>

      </div>

      <div id="printFooter" class="text-center mt-4">
        <small class="text-muted">
          This is a digital document. No signature is required.
          <br>
          © InstantPayment
        </small>
      </div>


    </div>

    <div class="modal-footer d-flex justify-content-between">
      <button class="btn btn-outline-secondary btn-sm" (click)="modal.dismiss()">Close</button>
      <button class="btn btn-chandan btn-sm" (click)="SwitchCashWithdrawal()"
        *ngIf="invoiceData?.txntype === 'be' || invoiceData?.txntype === 'ms'"> <i class="bi-cash-stack"></i> &nbsp;
        Cash Withdrawal</button>

      <button class="btn btn-chandan btn-sm" (click)="downloadInvoice()">
        <i class="bi bi-download me-1"></i> Download Invoice
      </button>

      <button class="btn btn-chandan btn-sm" (click)="printInvoice()">
        <i class="bi bi-printer me-1"></i> Print Invoice
      </button>
    </div>
  </ng-template>





  <div class="modal" [ngClass]="{ 'show d-block': isDailyLoginPopupVisible }">

    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header bg-purple text-white d-flex justify-content-between align-items-center">
          <h5 class="modal-title">AEPS Daily Login - Instant Pay</h5>

          <button class="btn btn-default btn-sm text-dark bg-white" (click)="FinoRegistrationPopupShow()">
            Not Yet Registered
          </button>
        </div>

        <div class="modal-body">
          <!-- Stage 1: Basic Details & Fingerprint -->
          <div>
            <form *ngIf="dailyLoginForm" [formGroup]="dailyLoginForm">
              <div class="row">
                <div class="col-md-6">
                  <label>Aadhar Number</label>
                  <input class="form-control" formControlName="aadharno">
                </div>
                <div class="col-md-6">
                  <label>Mobile Number</label>
                  <input class="form-control" formControlName="mobileno">

                </div>
              </div>
            </form>


            <div class="finger-section mt-3 text-center" *ngIf="!fingerprintSuccess">
              <p class="mb-2"><strong>Select Fingerprint Device:</strong></p>
              <div class="d-flex justify-content-center flex-wrap gap-2 device-list">
                <div *ngFor="let device of devices" class="device-card" [class.active]="selectedDevice === device.id"
                  (click)="selectDevice(device.id)">
                  <img [src]="'../../../assets/images/' + device.icon" alt="{{ device.label }}"
                    style="height: 50px;width:50px" />
                  <span>{{ device.label }}</span>
                </div>
              </div>

              <div class="mt-3">
                <button type="button" class="btn btn-primary w-100 mb-3" (click)="startCapture()"
                  [disabled]="!selectedDevice">
                  <i class="bi bi-fingerprint me-1"></i> Scan Fingerprint
                </button>
              </div>
            </div>
          </div>

          <!-- Stage 2: PIN and OTP -->
          <div style="display: none;" *ngIf="!fingerprintSuccess">
            <div class="form-group mb-2">
              <label><i class="bi bi-key"></i> Txn PIN</label>
              <input type="password" [(ngModel)]="txnPin" class="form-control" maxlength="6"
                placeholder="Enter 4 or 6-digit PIN" [class.is-invalid]="showPinError" autocomplete="off" />
              <div *ngIf="showPinError" class="invalid-feedback d-block">
                Txn PIN is required
              </div>
            </div>

            <div class="form-group mb-2">
              <label><i class="bi bi-shield-lock"></i> OTP (if required)</label>
              <input type="text" [(ngModel)]="otp" class="form-control" maxlength="6" placeholder="Enter OTP" autocomplete="one-time-code" />
            </div>


          </div>
        </div>

        <div class="modal-footer d-flex justify-content-between flex-wrap">
          <button class="btn btn-outline-secondary btn-sm flex-grow-1 me-2 mb-2"
            (click)="closeDailyLoginPopup()">Cancel</button>
          <button type="button" class="btn btn-chandan btn-sm flex-grow-1 mb-2" (click)="submitDailyLogin()"
            [disabled]="!fingerprintSuccess">
            <i class="bi bi-check-circle"></i> Confirm & Proceed
          </button>
        </div>
      </div>
    </div>
  </div>



  <div class="modal" [ngClass]="{ 'show d-block': isDailyRegistrationPopupVisible }">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header bg-purple text-white d-flex justify-content-between align-items-center">
          <h5 class="modal-title">AEPS Registration- Instant Pay</h5>

          <button class="btn btn-default btn-sm text-dark bg-white" (click)="FinoLoginPopupShow()">
            Already Registered Login here
          </button>
        </div>

        <div class="modal-body">
          <!-- Stage 1: Basic Details & Fingerprint -->
          <div *ngIf="isDailyRegistrationPopupVisible && !isEKYCProceedForFino">
            <form *ngIf="dailyRegistrationFormFino" [formGroup]="dailyRegistrationFormFino">
              <div class="row">

                <div class="col-md-6">
                  <label>First Name</label>
                  <input class="form-control" formControlName="FirstName">
                  <div
                    *ngIf="dailyRegistrationFormFino?.get('FirstName')?.touched && dailyRegistrationFormFino?.get('FirstName')?.invalid"
                    class="text-danger" style="font-size: 10px;">
                    Invalid First Name
                  </div>
                </div>

                <div class="col-md-6">
                  <label>Middle Name</label>
                  <input class="form-control" formControlName="finoMiddleName" placeholder="Middle Name">
                  <div
                    *ngIf="dailyRegistrationFormFino.get('finoMiddleName')?.touched && dailyRegistrationFormFino.get('finoMiddleName')?.invalid"
                    class="text-danger" style="font-size: 10px;">
                    Invalid Middle Name
                  </div>
                </div>

                <div class="col-md-6">
                  <label>Last Name</label>
                  <input class="form-control" formControlName="LastName" placeholder="Last Name">
                  <div
                    *ngIf="dailyRegistrationFormFino.get('LastName')?.touched && dailyRegistrationFormFino.get('LastName')?.invalid"
                    class="text-danger" style="font-size: 10px;">
                    Invalid Last Name
                  </div>
                </div>

                <div class="col-md-6">
                  <label>Aadhar Number</label>
                  <input class="form-control" formControlName="aadharno"
                    (keypress)="($event.charCode >= 48 && $event.charCode <= 57) ? true : $event.preventDefault()">
                  <div
                    *ngIf="dailyRegistrationFormFino.get('aadharno')?.touched && dailyRegistrationFormFino.get('aadharno')?.invalid"
                    class="text-danger" style="font-size: 10px;">
                    Invalid Aadhaar Number (must be 12 digits)
                  </div>
                </div>

                <div class="col-md-6">
                  <label>Mobile Number</label>
                  <input class="form-control" formControlName="mobileno"
                    (keypress)="($event.charCode >= 48 && $event.charCode <= 57) ? true : $event.preventDefault()">
                  <div
                    *ngIf="dailyRegistrationFormFino.get('mobileno')?.touched && dailyRegistrationFormFino.get('mobileno')?.invalid"
                    class="text-danger" style="font-size: 10px;">
                    Enter valid Indian mobile number
                  </div>
                </div>

                <div class="col-md-6">
                  <label>PAN Card</label>
                  <input class="form-control" formControlName="PANNo">
                  <div
                    *ngIf="dailyRegistrationFormFino.get('PANNo')?.touched && dailyRegistrationFormFino.get('PANNo')?.invalid"
                    class="text-danger" style="font-size: 10px;">
                    Invalid PAN format (ABCDE1234F)
                  </div>
                </div>

                <div class="col-md-6">
                  <label>Name as per PAN</label>
                  <input class="form-control" formControlName="NameAsPerPANNumber" placeholder="Name as per PAN">
                  <div
                    *ngIf="dailyRegistrationFormFino.get('NameAsPerPANNumber')?.touched && dailyRegistrationFormFino.get('NameAsPerPANNumber')?.invalid"
                    class="text-danger" style="font-size: 10px;">
                    Please Enter Your Name as per PAN
                  </div>
                </div>

                <div class="col-md-6">
                  <label>Date Of Birth</label>
                  <input type="text" class="form-control" formControlName="dob" placeholder="dd/MM/yyyy" maxlength="10"
                    (input)="formatDOB($event)">
                  <div
                    *ngIf="dailyRegistrationFormFino.get('dob')?.touched && dailyRegistrationFormFino.get('dob')?.invalid"
                    class="text-danger" style="font-size: 10px;">
                    Please Enter DOB
                  </div>

                  <div class="text-danger"
                    *ngIf="dailyRegistrationFormFino.get('dob')?.touched && dailyRegistrationFormFino.get('dob')?.errors">

                    <div *ngIf="dailyRegistrationFormFino.get('dob')?.errors?.['invalidFormat']"
                      style="font-size: 10px;">
                      Format must be dd/MM/yyyy
                    </div>

                    <div *ngIf="dailyRegistrationFormFino.get('dob')?.errors?.['invalidDate']" style="font-size: 10px;">
                      Invalid calendar date
                    </div>

                    <div *ngIf="dailyRegistrationFormFino.get('dob')?.errors?.['underAge']" style="font-size: 10px;">
                      Age must be 18 years or above
                    </div>

                    <div *ngIf="dailyRegistrationFormFino.get('dob')?.errors?.['invalidAge']" style="font-size: 10px;">
                      Enter valid birth date
                    </div>

                  </div>


                </div>

              </div>
            </form>

            <div class="modal-footer d-flex justify-content-between flex-wrap">
              <button class="btn btn-outline-secondary btn-sm flex-grow-1 me-2 mb-2"
                (click)="closeDailyRegistrationPopup()">Cancel</button>
              <button class="btn btn-chandan btn-sm flex-grow-1 mb-2" (click)="ProceedForEKYCFino()">
                <i class="bi bi-check-circle"></i>Proceed For E-KYC
              </button>
            </div>
          </div>

          <div *ngIf="isDailyRegistrationPopupVisible && isEKYCProceedForFino">
            <div class="finger-section mt-3 text-center">
              <p class="mb-2"><strong>Select Fingerprint Device:</strong></p>
              <div class="d-flex justify-content-center flex-wrap gap-2 device-list">
                <div *ngFor="let device of devices" class="device-card" [class.active]="selectedDevice === device.id"
                  (click)="selectDevice(device.id)">
                  <img [src]="'../../../assets/images/' + device.icon" alt="{{ device.label }}"
                    style="height: 50px;width:50px" />
                  <span>{{ device.label }}</span>
                </div>
              </div>

              <div class="mt-3">
                <button type="button" class="btn btn-primary w-100 mb-3" (click)="startCapture()"
                  [disabled]="!selectedDevice">
                  <i class="bi bi-fingerprint me-1"></i> Scan Fingerprint
                </button>
              </div>
            </div>
          </div>


        </div>

        <div class="modal-footer d-flex justify-content-between flex-wrap"
          *ngIf="isDailyRegistrationPopupVisible && isEKYCProceedForFino">
          <button class="btn btn-outline-secondary btn-sm flex-grow-1 me-2 mb-2"
            (click)="closeDailyRegistrationPopup()">Cancel</button>
          <button class="btn btn-chandan btn-sm flex-grow-1 mb-2" (click)="CompleteForEKYCFino()"
            [disabled]="!fingerprintSuccess">
            <i class="bi bi-check-circle"></i> Confirm & Proceed
          </button>
        </div>


      </div>
    </div>
  </div>

  <!--For Jio Payment Integration-->
  <div class="modal" [ngClass]="{ 'show d-block': showAgentLoginModalJPB }">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header bg-purple text-white d-flex justify-content-between align-items-center">
          <h5 class="modal-title">AEPS Daily Login - Instant Pay</h5>

          <button class="btn btn-default btn-sm text-dark bg-white" (click)="openJPBRegistrationPopup()">
            Not Yet Registered
          </button>
        </div>

        <div class="modal-body">
          <!-- Stage 1: Basic Details & Fingerprint -->
          <div>
            <form [formGroup]="JPBdailyLoginForm" *ngIf="JPBdailyLoginForm">
              <div class="row">
                <div class="col-md-12">
                  <label>Agent Ref No</label>
                  <input class="form-control" formControlName="agentrefno">
                </div>
                <div class="col-md-6">
                  <label>Aadhar Number</label>
                  <input class="form-control" formControlName="aadharno">
                </div>
                <div class="col-md-6">
                  <label>Mobile Number</label>
                  <input class="form-control" formControlName="mobileno">

                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="modal-footer d-flex justify-content-between flex-wrap">
          <button class="btn btn-outline-secondary btn-sm flex-grow-1 me-2 mb-2"
            (click)="closeDailyLoginPopupJPB()">Cancel</button>
          <button class="btn btn-chandan btn-sm flex-grow-1 mb-2" (click)="submitAgentLoginJPB()">
            <i class="bi bi-check-circle"></i> Confirm & Proceed
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" [ngClass]="{ 'show d-block': showAgentRegistrationModalJPB }">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header bg-purple text-white d-flex justify-content-between align-items-center">
          <h5 class="modal-title">AEPS Registration- Instant Pay</h5>

          <button class="btn btn-default btn-sm text-dark bg-white" (click)="openJPBAgentLoginPopup()">
            Already Registered Login here
          </button>
        </div>

        <div class="modal-body">
          <!-- Stage 1: Basic Details & Fingerprint -->
          <div>
            <form [formGroup]="JPBAgentRegistrationForm" *ngIf="JPBAgentRegistrationForm">
              <div class="row">
                <div class="col-md-6">
                  <label>External Ref No</label>
                  <input class="form-control" formControlName="refNo">
                </div>
                <div class="col-md-6">
                  <label>PAN Number</label>
                  <input class="form-control" formControlName="pan">
                </div>
                <div class="col-md-6">
                  <label>Mobile Number</label>
                  <input class="form-control" formControlName="mobile">
                </div>
                <div class="col-md-6">
                  <label>Email ID</label>
                  <input class="form-control" formControlName="email">
                </div>
                <div class="col-md-6">
                  <label>Address</label>
                  <input class="form-control" formControlName="address">
                </div>
                <div class="col-md-6">
                  <label>City</label>
                  <input class="form-control" formControlName="city">
                </div>
                <div class="col-md-6">
                  <label>State</label>
                  <ng-select [items]="stateList" bindLabel="name" bindValue="code" placeholder="Select State"
                    formControlName="state" [searchable]="true">
                  </ng-select>

                </div>
                <div class="col-md-6">
                  <label>Pincode</label>
                  <input class="form-control" formControlName="pincode">
                  <input type="hidden" formControlName="accessToken">
                  <input type="hidden" formControlName="appIdentifierToken">
                </div>
              </div>
            </form>

            <div class="modal-footer d-flex justify-content-between flex-wrap" *ngIf="!fingurdataKYCforJPB">
              <button class="btn btn-outline-secondary btn-sm flex-grow-1 me-2 mb-2"
                (click)="closeJPBRegistrationPopup()">Cancel</button>
              <button class="btn btn-chandan btn-sm flex-grow-1 mb-2" (click)="createJPBAgent()">
                <i class="bi bi-check-circle"></i> Create Agent
              </button>
            </div>


            <div class="finger-section mt-3 text-center" *ngIf="fingurdataKYCforJPB">
              <form [formGroup]="JPBAgentEKYCForm" *ngIf="JPBAgentEKYCForm">
                <div class="row">
                  <div class="col-md-12">
                    <label>Aadhar Number</label>
                    <input class="form-control" maxlength="12" formControlName="aadharNumber">
                  </div>
                </div>
              </form>
              <p class="mb-2"><strong>Select Fingerprint Device:</strong></p>
              <div class="d-flex justify-content-center flex-wrap gap-2 device-list">
                <div *ngFor="let device of devices" class="device-card" [class.active]="selectedDevice === device.id"
                  (click)="selectDevice(device.id)">
                  <img [src]="'../../../assets/images/' + device.icon" alt="{{ device.label }}"
                    style="height: 50px;width:50px" />
                  <span>{{ device.label }}</span>
                </div>
              </div>

              <div class="mt-3">
                <button type="button" class="btn btn-primary w-100 mb-3" (click)="startCapture()"
                  [disabled]="!selectedDevice">
                  <i class="bi bi-fingerprint me-1"></i> Scan Fingerprint
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer d-flex justify-content-between flex-wrap" *ngIf="fingurdataKYCforJPB">
          <button class="btn btn-outline-secondary btn-sm flex-grow-1 me-2 mb-2"
            (click)="closeJPBRegistrationPopup()">Cancel</button>
          <button class="btn btn-chandan btn-sm flex-grow-1 mb-2" (click)="submitAgentKYCJPB()"
            [disabled]="!fingerprintSuccess">
            <i class="bi bi-check-circle"></i> Complete KYC
          </button>
        </div>


      </div>
    </div>
  </div>
  <!--END-->

</div>